<app-header></app-header>
<div class="bg">
  <h1 class="sch-title text-center">Medical Representative Schedule</h1>
  <div class="container table-responsive py-5" style="text-align: center">
    <table
      class="table table-bordered"
      style="color: white; background: rgba(27, 31, 31, 0.7)"
      *ngIf="response?.length != 0"
    >
      <thead>
        <tr>
          <th>Rep Name</th>
          <th>Doctor's Name</th>
          <th>Treating Ailment</th>
          <th>Medicine</th>
          <th>Slot</th>
          <th>Date</th>
          <th>Doctor Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of response">
          <td>{{ detail.repName }}</td>
          <td>{{ detail.doctorName }}</td>
          <td>{{ detail.treatingAilment }}</td>
          <td>{{ detail.medicine }}</td>
          <td>{{ detail.meetingSlot }}</td>
          <td>{{ detail.dateOfMeeting }}</td>
          <td>{{ detail.doctorContactNumber }}</td>
        </tr>
        <!-- </c:forEach> -->
      </tbody>
    </table>
    <div
      class="unable"
      style="
        color: white;
        font-size: 25px;
        font-weight: 900;
        background: rgba(220, 0, 0, 0.624);
        display: inline-block;
        border-radius: 20px;
        padding: 20px;
      "
      *ngIf="response?.length == 0"
    >
      <span>Unable to retrieve data</span>
    </div>
  </div>
</div>

<app-footer></app-footer>
