<app-header></app-header>
<div class="bg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 offset-3">
        <div id="card" class="card-body bg-card text-light mt-5 p-5">
          <h2 class="text-center text-light pb-3">Place Demand</h2>
          <hr />
          <table class="demand-table">
            <tr class="odd">
              <td class="quantity">
                <form
                  ngNativeValidate
                  #placeDemandForm="ngForm"
                  (ngSubmit)="onSubmit(placeDemandForm.value)"
                >
                  <div class="row">
                    <div class="col-6">
                      <label
                        class="form-label my-auto"
                        for="med"
                        style="float: left"
                        >Enter Medicine Name
                      </label>
                    </div>
                    <div class="col-6">
                      <select
                        id="med"
                        ngModel
                        name="name"
                        class="form-select rounded-pill"
                        style="float: right"
                        required
                      >
                        <option value="Orthoherb">Orthoherb</option>
                        <option value="Cholecalciferol">Cholecalciferol</option>
                        <option value="Gaviscon">Gaviscon</option>
                        <option value="Dolo-650">Dolo-650</option>
                        <option value="Cyclopam">Cyclopam</option>
                        <option value="Hilact">Hilact</option>
                      </select>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-6">
                      <label
                        class="form-label my-auto"
                        for="demCount"
                        style="float: left"
                        >Enter Demand Count
                      </label>
                    </div>
                    <div class="col-6">
                      <input
                        type="number"
                        ngModel
                        id="demCount"
                        class="
                          form-control
                          rounded-pill
                          shadow-sm
                          border-0
                          demand-input
                        "
                        name="demand"
                        required
                      />
                    </div>
                  </div>
                  <br />
                  <div class="supply-btn text-center">
                    <input
                      type="submit"
                      class="
                        btn
                        float-right
                        btn-outline-bg
                        text-white
                        rounded-pill
                        submit-btn
                      "
                    />
                  </div>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
