#schedule-card {
  background-color: rgba(27, 31, 31, 0.624);
  border-radius: 20px;
}

#startdate {
  width: 100%;
}

.schedule-btn {
  padding: 7px 20px;
  text-align: center;
  background-color: #05516096;
  transition: all 0.3s;
}

.schedule-btn:hover {
  background-color: #055160;
}
