<app-header></app-header>

<div class="bg" style="text-align: center">
  <h1 class="center home-title mb-5">Medicine Stock</h1>
  <table
    class="table table-bordered"
    *ngIf="response?.length != 0"
    style="color: white; background: rgba(27, 31, 31, 0.7)"
  >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Chemical Composition</th>
        <th scope="col">DateOfExpiry</th>
        <th scope="col">NumberOfTablets</th>
        <th scope="col">TargetAilment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of response">
        <td>{{ d.name }}</td>
        <td>{{ d.chemicalComposition }}</td>
        <td>{{ d.dateOfExpiry }}</td>
        <td>{{ d.numberOfTabletsInStock }}</td>
        <td>{{ d.targetAilment }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="response?.length == 0">
    <p>Unable to retrieve data</p>
  </div>
</div>

<app-footer></app-footer>
